body {
  text-align: center;
  font-family: Arial;
  background-color: #eef2f3;
  padding-top: 100px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
